# Google Cloud Platform & BigQuery Environment Configuration Template
GCP_PROJECT_ID=budget-tracker-507418
BIGQUERY_DATASET=personal_finance
BIGQUERY_LOCATION=africa-south1
BIGQUERY_SERVICE_ACCOUNT=mobile-bigquery-client@budget-tracker-507418.iam.gserviceaccount.com
ZIVA_API_URL=http://localhost:3001
